html
  header
    include header.pug
    script(src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async)
  

  body
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") ANALOG COMPUTING
                    p(class="flow-text") 
                    | This is something I hope I will get a lot more chance to work on in the future.
                    | An idea to create an Algebra branch revolving only around analog computing function, as
                    | currently there is very limited data available. It is worth noting that current Machine Learning 
                    | Algorithms are essentialy Approximating a single multidimensional function, however sometimes building
                    | such functions from scratch yields much more elegant and efficient results, than a simple brutforce approximation.
                    br
                    | I will probably like to talk about the subject much more when I get a chance to do so.
                    br
                    br
                    span.card-title.center TIME CALCULATION
                    iframe(frameBorder="0" width="100%" height="100%" src="https://www.mathcha.io/editor/pgO5jT6yI3nHqQY2q4sW8V65gsyZqVd3fdypBqg?embedded=true")
                    span.card-title.center DATE CALCULATION
                    iframe(frameBorder="0" width="100%" height="100%" src="https://www.mathcha.io/editor/B2yqEhBDtnquegLr7XiryvNn5C7rzrBTnlwM05?embedded=true")
                
    include footer.pug          
