html
  header
    include header.pug

  body
    if errors
      each error, i in errors.errors
        script var data = "!{error.msg}"; if(data)M.toast({html:data}, 4000)
    if alerts
      script var data = "!{alerts}"; console.log(data);if(data) M.toast({html:data}, 4000)
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") Contact me
                    div(class="divider")
                    br
                    form(method='POST', action="/email")
                      label Your email:
                      input.form-control(name='email', type='text')
                      label Email title:
                      input.form-control(name='title', type='text')        
                      label Content:
                      textarea.form-control(name='content', type='text', class="materialize-textarea")
                      input.btn.black(type='submit',value='Send')
    include footer.pug
