html
  header
    include header.pug
    script(src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async)
  

  body
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") LATTICE MODEL OF DIFFUSION IN 2D
                    p(class="flow-text") 
                    | Yet another MonteCarlo simulation project. This time I decided to use p5js animation libary so that I could better visualise the results.
                    br
                    br
                    | So, before we calculate the diffusion, Let us simulate a basic grid and some randomly moving particles on it.
                    | Every particle takes a random step in any direction and if the position its about to take is occupied it just takes another random route that is free,
                    | so we have collisions included into the script, also if the particle steps outside the grid it just teleports on the other side. Let us see how it looks:
                    br
                    br
                    div.row
                      div(class="input-field col s6")
                        input(type="number" id="ParticleNo" value="5" min="1" max="5")
                        label(for="ParticleNo") Number of Particles (1-5)
                      div(class="input-field col s6")
                        input(type="number" id="Size" min="5" value="10" max="50")
                        label(for="Size") Grid Size (5 - 50)
                    div.row
                      div(class="input-field col s6")
                        input(type="number" id="Speed" value="5" min="1" max="50")
                        label(for="Speed") Frame Rate (1 - 50) 
                      div(class="center col s6")
                        button(onclick="start()" class="btn black") Play
                        button(onclick="stop()" class="btn black") Pause
                    
                    div.row
                      script(src="/diffusion.js")
                      div(id="animation" class="center s12")
                    p.flow-text
                    | Now let us calculate the Diffusion. In Order to do so we must first calculate an average displacement for every particle in the simulation.
                    | Let us see how we would calculate the average displacement for x dimension:
                    | $$  \lt x \gt = { \sum_{i=0}^N (| X_{final}-X_{initial} |) \over N}.$$
                    | Then it only seems logical that for 2 dimensions the formula should be the following:
                    | $$ \Delta R = \sqrt{\Delta x^2 + \Delta y^2 } .$$
                    | Now we can safely calculate the Diffusion Coefficient. The formula adjusted to the simulation purposes (K = No of Simulation Steps):
                    | $$ D = { \lt \Delta R \gt^2 \over 4K} .$$
                    | Now lets graph our findings:
                    div.row
                      div(class="center col s12")
                        a(href="/projects/diffusion2")
                          button(class="btn black") Next Page
                    
    include footer.pug
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});

                    
