html
  header
    include header.pug
    script(src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async)
    script(src="/diffusion2.js")

  

  body
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") LATTICE MODEL OF DIFFUSION IN 2D - PAGE 2
                    p(class="flow-text") 
                    | This would be how the Diffusion Coefficient looks in comparison to Montecarlo Steps - The Chart is calculated for 10 000
                    | steps (100 independent realizations), 3 particles and the matrix size of 25x25. Refresh the page to reload the graph.
                    | As we can see, the Coefficient stabilizes at around 1.4 mark. 
                div(id="pijaczyna")
                div.row
                  div(class="center col s12")
                    a(href="/projects/diffusion")
                      button(class="btn black") Previous Page
                    a(href="/projects/diffusion3")
                      button(class="btn black") Next Page
                    
                    
    include footer.pug
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});

                    
