html
  header
    include header.pug
    script(src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async)
    script(src="/diffusion3.js")

  

  body
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") LATTICE MODEL OF DIFFUSION IN 2D - PAGE 3
                    p(class="flow-text") 
                    | Now let see how the Diffusion Coefficient looks for different Concentrations of Particles 
                    | $$ C = {Number Of Particles \over Grid Size^2} .$$
                    | This graph was calculated for only 10 dfifferent concentrations, this is mostly due to calculations becoming
                    | more and more demanding for JavaScript, which is why it is necessary to introduce WebWorkers to make it run more smoothly
                    | I will do so in later iterations of this project. 
                div(id="pijaczyna")
                div.row
                  div(class="center col s12")
                    a(href="/projects/diffusion2")
                      button(class="btn black") Previous Page
                    
                    
    include footer.pug
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});

                    
