footer(class="page-footer transparent white-text")
  div(class="container")
    div(class="row")
      div(class="col l6 s12")
        p(class="grey-text text-lighten-4") Me on social Media:
        a(href="https://www.linkedin.com/in/igor-bojczuk-198178105/", target="_blank") 
          button.white.btn.black-text.fa.fa-linkedin
        a(href="https://www.facebook.com/pankuka7", target="_blank")
          button.white.btn.black-text.fa.fa-facebook
        a(href="https://www.instagram.com/bojczukos/?hl=pl", target="_blank") 
          button.white.btn.black-text.fa.fa-instagram

        
  div(class="footer-copyright")
    div(class="container")
      | ©2021 Igor Bojczuk
      a(class="grey-text text-lighten-4 right" href="http://siekamcebulke.tk/") Hi Stranger!
