html
  header
    include header.pug
  body
    nav(style="background-color:transparent;")
     div(class="nav-wrapper")
       a(href="#" data-activates="mobile-demo" class="button-collapse")
           i(class="material-icons") menu
       ul(class="right hide-on-med-and-down")
         li
           a(href="/") About Me
         li
           a(href="/projects") Projects

         li
           a(href='/contact' class="white-text") Contact
       ul(class="side-nav " id="mobile-demo")
         li
           a(href="/" class="white-text") About me
         li
           a(href="/Projects" class="white-text") Projects
         li
           a(href='/contact' class="white-text") Contact
    main
      div(id="particles-js" style="z-index:-10")
      div(class="container" style="margin-top:70px;" )
        div.row
          div.col.s12
            div.card
              div.card-content
                span.card-title.center MY PHOTOS
              div.divider
        div(class="row")
          each photo in photos
              div(class="col s12 m6 l4")
                div(class="card")
                    div(class="card-content")
                      img.responsive-img.materialboxed( src = "/gal/" + photo )
    footer(class="page-footer transparent white-text")
      div(class="container")
        div(class="row")
          div(class="col l6 s12")
            p(class="grey-text text-lighten-4") Me on social Media:
      div(class="footer-copyright")
        div(class="container")
          | ©2017 Igor Bojczuk
          a(class="grey-text text-lighten-4 right" href="http://siekamcebulke.tk/") Siekam Cebulke
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});
