title Bojczuk

script(src="https://code.jquery.com/jquery-3.6.0.min.js", integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin="anonymous")
script(src="https://code.highcharts.com/highcharts.src.js")
script(src="/particles.js")
script(src="/part.js")
link(rel="stylesheet" href="/ui/dist/css/materialize.css")
link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
link(href="/animate.css" rel="stylesheet")
link(href="/style.css" rel="stylesheet")
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script(src='/materialize.js')
link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
