html
  header
    include header.pug

  body
    include navbar.pug
    main
      div( id="particles-js")
      div.landing
        div.valign.top
          div(class="container center fadeIn animated t")
            a(target="bio" class="center scroll white-text" style="cursor:pointer;")
              img(src="igor1.png" class="responsive-img center")
              br
              span Polish Translator - Full Stack Web Developer - Orchestra Conducting / Quantum Engeenering - Classical Pianist / Flautist
              br
              i(class=" material-icons white-text fadeOutDown animated infinite") arrow_downward
              br
      div(class="row" id="bio")
        div(class="col s12 m8 offset-m2")
          div(class="card top")
              div(class="card-content")
                  h3(class="center") About me
                  div(class="divider")
                  br
                  p(class="flow-text") 
                    b   Professionally: 
                    i Web Integration and Automation Expert, Full Stack Web Developer 
                    br
                    |  Extensive experience working both as a Freelancer and in a Corporate environment (Jotform, LiveChatInc). I specialize in business automation, custom API integrations, data parsing and general Full Stack Development. I work with the following technologies:
                    br
                    | — JavaScript (Vanilla, Node.js, Vue.js, React.js, MongoDB, Express, Electron, and many others)
                    br
                    |  — GIT (Github, GitLab, BitBucket)
                    br
                    |  — Project Management (Jira/BitBucket)
                    br
                    |  — Front End Stack (Html, Pug/jade, CSS,)
                    br
                    |  — Chrome Extensions
                    br
                    |  Other programming languages I am familiar with:
                    br
                    |  C++, PHP, Python
                    br
                    | Additionally, I have over 7 years of experience working as a Polish/Russian/English translator, mainly in research, financial and medical fields.
                    br
                    br
                    b Privately 
                    i (I used to do these profesionally, but currently took a break..): 
                    br
                    i Musician, Symphony Conductor, Pianist
                  br
                  div(class="center")
                    a(href="https://www.upwork.com/freelancers/~014a06f95193e8a661")
                      button(class="black btn") Upwork
                    a(href="https://www.peopleperhour.com/freelancer/igor/polish-translator-proofreader/1036738")
                      button(class="black btn") Peopleperhour
                    a(href="https://www.guru.com/freelancers/igor-bojczuk")  
                      button(class="black btn") Guru
                    a(href="https://www.freelancer.com/u/ibojczuk")
                      button(class="black btn") Freelancer

    include footer.pug
