nav(style="background-color:transparent;")
  div(class="nav-wrapper")
    a(href="#" data-activates="mobile-demo" data-target="mobile-demo" class="sidenav-trigger button-collapse")
      i(class="material-icons") menu
    ul(class="right hide-on-med-and-down")
      li
        a(href="/#bio") About Me
      li
        a(href="/projects") Projects
      li
        a(href='/contact') Contact
ul(class="sidenav black "  id="mobile-demo"  )
  li
    a(href='/' class="white-text") Home
  li
    a(href="/projects" class="white-text" ) Projects
  li
    a(href='/contact' class="white-text") Contact
    
    
