html
  header
    include header.pug
    script(src="/pijak.js")
    script(src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js")


  body
    nav(style="background-color:black;")
     div(class="nav-wrapper")
       a(href="#" data-activates="mobile-demo" class="button-collapse")
           i(class="material-icons") menu
       ul(class="right hide-on-med-and-down")
         li
           a(href="/") About Me
         li
           a(href="/projects") Projects

         li
           a(href='/contact' class="white-text") Contact
       ul(class="side-nav " id="mobile-demo")
         li
           a(href="/" class="white-text") About me
         li
           a(href="/Projects" class="white-text") Projects
         li
           a(href='/contact' class="white-text") Contact
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") Random Walk Generator aka "Pijak"
                    div.divider
                    br
                    p.center SET AMOUNT OF WALKERS [1-3]
                    br
                    div.sliders
                      input(type="range" id="WalkerNumber" min="1" max="3" value="1")
                    br
                    p.center SET AMOUNT OF STEPS [1-10 000]
                    br
                    div.sliders
                      input(type="range" id="PointNumber" min="1" max="10000" value="1000")
                    br
                    div.center
                      button(class="btn black center" onclick="refreshPlot()") 2D Walk Pattern
                      button(class="btn black center" onclick="RegressionPlot()") 2D Regession
                      button(class="btn black center" onclick="OneDimensionRefreshPlot()") 1D Walk Pattern
                      button(class="btn black center" onclick="PlotLogChart()") Log Chart
                      
                      
                div(id="pijaczyna")
    include footer.pug
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});

                    
