html
  header
    include header.pug

  body
    include navbar.pug
    main
      div( id="particles-js")
      div(class="container" style="margin-top:70px;")
        div(class="row")
          div(class="col s12 m8 offset-m2")
            div(class="card top")
                div(class="card-content")
                    span(class="card-title center") My Projects
                    div(class="divider")
                    br
                    p Find my current projects listed below. My professional work history and reviews from my clients are available on my freelancing profiles:
                    br
                    div(class="center")
                      a(href="https://www.upwork.com/freelancers/~014a06f95193e8a661")
                        button(class="black btn") Upwork
                      a(href="https://www.peopleperhour.com/freelancer/igor/polish-translator-proofreader/1036738")
                        button(class="black btn") Peopleperhour
                      a(href="https://www.guru.com/freelancers/igor-bojczuk")  
                        button(class="black btn") Guru
                      a(href="https://www.freelancer.com/u/ibojczuk")
                        button(class="black btn") Freelancer
        include projects/current.pug
        include projects/analog_pc.pug
        include projects/diffusion.pug
        include projects/pijak.pug
        include projects/musify.pug
        include projects/gravity.pug
        include projects/chat.pug
        include projects/snek.pug  
        include projects/cheesgree.pug 
    include footer.pug
  script   $(document).ready(function(){$('.materialboxed').materialbox();$(".button-collapse").sideNav();$('.parallax').parallax(); $('.scroll').click(function() {$('body').animate({scrollTop: eval($('#' + $(this).attr('target')).offset().top - 70)}, 1000);});});
