<ul>
  <li><a href="" class="placki"></a></li>
  <li><a href="" class="placki"></a></li>
  <li><a href="" class="placki"></a></li>
  <li><a href="" class="placki"></a></li>
  <li><a href="" class="placki"></a></li>
</ul
<div></div>
<ul>
  <li class="item1"></li>
  <li class="item2"></li>
  <li class="item3"></li>
  <li class="item4"></li>
  <li class="item5"></li>
</ul>
<h1 title="item1">Header 1</h1>
<h2 title="item2">Header 2</h2>
<h3 title="item3">Header 3</h3>

<div id="header"></div>

<table>
  <tr class="row">
    <td class="col"></td>
  </tr>
</table>

<div>
  <dl>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
  </dl>
</div>
<footer>
  <p></p>
</footer>





<div>
  <ul>
    <li><a href="" class="ziemniaki"></a></li>
    <li><a href="" class="ziemniaki"></a></li>
    <li><a href="" class="ziemniaki"></a></li>
    <li><a href="" class="ziemniaki"></a></li>
    <li><a href="" class="ziemniaki"></a></li>
  </ul>
</div>

<div id="kurczak"></div>
