.parallax-container {
    height: 100%;
  }

nav{
  position: absolute;
  top:0;
  left:0;
  z-index:99999;
  box-shadow: none;
}
#bio {
  min-height: 70vh;
}

.btn{
  margin-right:10px;
  margin-bottom:10px
}
.back {
  z-index: -10;
}
body {
  background:#000;
}

.sliders {
  position: relative;
  text-align: center;
  width:80%;
  margin-left:auto;
  margin-right: auto;
}


footer {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.top {
  z-index:9999;
}

#pijaczyna {
  min-width: 310px
  margin: 0 auto;
}

main {

  min-height: calc(100vh - 234px);
 }

.card-image {
 border:1px solid #fff;
}

.sidenav{
  color:#fff;
  background-color:#000;
  z-index:9999999!important;
  border-right:1px solid #fff;
}

.landing {
  height:100%;
  width:100%:
  position:relative;
}
.valign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 20;
}

.background {
  position: absolute;
  color:#000;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
