div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/analog_pc.png")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title")  ANALOG COMPUTING
            div(class="divider")
            br
            p My own approach to something I call "Algebraic COMPUTING" i.e. making a complex conditional calculation with multidimensional "analog" functions.
            | I have created two of my first works around Date and Time calculations when working for Jotform, extending the possibilities of the platform's calculator.
            br
            br
            a(href="/projects/analog_pc_live")
              button(class="btn black") READ MORE
