div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/chat.png" )
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Simple Chat
            div(class="divider")
            br
            p Simple Chat WebApplication developed in Nodejs/Express/socket.io and MaterializeCSS framework.
            br
            a(href="" target="_blank")
              button(class="btn grey") Offline
  
