div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/cheesgree.jpg" )
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Cheesgree
            div(class="divider")
            br
            p 2014 project - Secure Social Network with Encrypted messages and anonymous posts feature, developed with a friend. Currently discontinued.
            br
            a(href="https://www.facebook.com/cheesgree/" target="_blank")
              button(class="btn black") Screenshots
  
