div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title")  THINGS I AM CURRENTLY WORKING ON:
            div(class="divider")
            br
            br
            p With tons of projects on my head I don't get much chance to update this page to often. However I will do my best to update this list of projects at least once a month:
            br
            br
            span - WEBRTC realtime communication with high-quality audio for musicians
            br
            br
            span - Analog Computing
            br
            br
            span - Dark mode Chrome Extension for Livechat.com (where I currently work at)
            br
            br
            span - Startup SAAS project (seed stage, more info coming)
            br
            br
            span - Conducting Competition in April (will post more info on my Instagram)
