div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/diffusion.png")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title")  LATTICE MODEL OF DIFFUSION IN 2D
            div(class="divider")
            br
            p JavaScript implementation with p5js animation engine
            br
            br
            a(href="/projects/diffusion")
              button(class="btn black") Live version
