div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/gravity.png")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Gravity
            div(class="divider")
            br
            p Central Force simulation in QT/C++, developed in QTDesigner. Supports CSV export of generated data. Automatic presets for different planets in our solar system.
            br
            a(href="Gravity.AppImage")
              button(class="btn black") Download AppImage
  
