div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/musify.png" )
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Musify
            div(class="divider")
            br
            p Nodejs/Express/MongoDB social/work service for Muisicans. Currently in preAlpha state. FrontEnd designed with MaterializeCSS framework and pug templating system.
            br
            a(href="http://bojczuk.tk:3000" target="_blank")
              button(class="btn grey") Offline
  
