div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/gallery1.jpg")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") My photos
            div(class="divider")
            br
            a(href="/photos")
              button(class="btn black") Gallery
            a(href="https://www.instagram.com/josemnetoperek/")
              button(class="btn black fa fa-instagram")
                span(style="margin-left:3px")  Instagram
