div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/pijaczyna.png")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Random Walk Generator
            div(class="divider")
            br
            p JavaScript implementation of random walk generator
            br
            a(href="/projects/pijak")
              button(class="btn black") Live version
