div(class="row")
  div(class="col s12 m8 offset-m2")
    div(class="card top")
      div(class="card-image")
        img(src="images/snek.png")
      div(class="card-stacked")
        div(class="card-content")
            span(class="card-title") Snake Game
            div(class="divider")
            br
            p Simple Snake Game developed in JavaScript.
            br
            a(href="http://siekamcebulke.tk/snek/")
              button(class="btn grey") Offline
  
